@import "../../utils/variables";

.wrapper {
	width: 100%;
	max-width: 1051px;
	background-color: $white;
	border-radius: 12px;
	margin-bottom: 54px;
}
@media (max-width:575px) {
	.wrapper{
		display: flex;
		flex-direction: column !important;
	}
}